@page
@model Matei_Proiect.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Publishingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Publisher.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseD.Courses)
{
    string selectedRow = "";
    if (item.ID == Model.CourseID)
    {
        selectedRow = "table-success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publishingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                @{
                    foreach (var category in item.CourseCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
